.desc-ed {
  display: flex;
  margin-bottom: 200px;
}
.desc-img img {
  width: 400px;
  height: 750px;
  object-fit: cover;
}
.desc-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  justify-content: center;
}
.desc-text p {
  margin: 20px 0 50px 80px;
  font-size: 22px;
  color: #a0a0a0;
}
.desc-text .title {
  font-size: 96px;
  color: #494949;
}
.desc-text::after {
  content: "";
  background: #75e6da;
  position: absolute;
  width: 30px;
  height: 750px;
  right: 0;
}
@media only screen and (max-width: 1120px) and (min-width: 10px) {
  desc-text p {
    margin: 20px 0 30px 0;
  }
  .desc-img img {
    display: none;
  }
  .desc-ed {
    display: flex;
    flex-direction: column;
    justify-contet: center;
    text-align: center;
    align-items: center;
    margin-bottom: 200px;
  }
  .desc-text::after {
    display: none;
  }
  .desc-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .desc-text .title {
    font-size: 40px;
    color: #494949;
  }
}
