@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.navbar {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  border-top: 5px rgb(7, 249, 184) solid;
  border-top: linear-gradient(90deg, rgba(7, 249, 184, 1) 0%, rgba(37, 255, 255, 1) 100%, rgba(0, 255, 191, 0.23059646221769958) 100%);
}
@media only screen and (min-width: 651px) and (max-width: 1800px) {
  .menu {
    display: flex;
    justify-content: center;
  }
  .navbar a {
    margin: 0 10px 0;
    width: 90px;
    height: 60px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
  }
  .navbar a:hover::after {
    position: absolute;
    width: 120px;
    height: 10px;
    border-radius: 10px 10px 0 0;
    background: rgb(7, 249, 184);
    background: linear-gradient(90deg, rgba(7, 249, 184, 1) 0%, rgba(37, 255, 255, 1) 100%, rgba(0, 255, 191, 0.23059646221769958) 100%);
    content: "";
    bottom: 0;
  }
  .icon-h {
    display: none;
  }
  .header-navbar {
    display: none;
  }
  .hidden {
    display: none;
  }
  /*  */
}
@media only screen and (max-width: 650px) and (min-width: 10px) {
  .icon-h {
    all: unset;
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  /* header Navbar */
  .header-navbar {
    position: fixed;
    top: 45px;
    z-index: 100;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transition: 3s ease;
  }
  .hidden {
    display: none;
  }
  .header-navbar li {
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-navbar li:hover {
    border-bottom: 5px solid rgb(7, 249, 184);
    border-bottom: linear-gradient(90deg, rgba(7, 249, 184, 1) 0%, rgba(37, 255, 255, 1) 100%, rgba(0, 255, 191, 0.23059646221769958) 100%);
  }
}
